<h1>Usuario Aleatorio - <small> Uso de API REST - Random http://randomuser.me/</small></h1>
<hr>

<button (click)="solicitaUsuarios()" type="button" class="btn btn-outline-primary btn-block" style="vertical-align: middle;"> Nuevos Usuarios</button>

<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let usuario of usuarios" style="margin-top:5%; margin-bottom: 5%;">
        <img [src]="usuario.picture.large" class="card-img-top" [alt]="usuario.name.first">
        <div class="card-body">
            <h5 class="card-title"> {{ usuario.name.title + " " + usuario.name.first + " " + usuario.name.last}}</h5>
            <p class="card-text"> {{ usuario.email }} </p>

            <div class="card-footer">
                <small class="text-muted">{{ usuario.phone }}</small>
            </div>
        </div>
    </div>


    <div class="card bg-dark text-white" *ngFor="let dog of perros">
        <div class="card-img-overlay">
            <h5 class="card-title"> {{ dog.status }}</h5>
        </div>
    </div>

</div>